In [1]:
import pandas as pd

In [2]:
#empty data frame
df=pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [9]:
# creating data frame by list
df=pd.DataFrame([[1,2,3,4],[5,6,7,8]])
df

   0  1  2  3
0  1  2  3  4
1  5  6  7  8

In [16]:
# CREATING BY DATAFRAME BY DICTIONARY

dic= {'ID':[1,2,3],'Name':['A','B','C']}
dic

{'ID': [1, 2, 3], 'Name': ['A', 'B', 'C']}

In [17]:
pd.DataFrame(dic)

   ID Name
0   1    A
1   2    B
2   3    C